<div class="container">
    <div class="row"> Displaying Random Data...</div>
      <div class="row">
        @for (contact of dataArray; track $index) {
            <div class="col-md-3 m-2 p-2">
                <div class="card" style="width: 15rem;">
                    <img src={{contact.picture.large}} class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{contact.name.first }}</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">{{contact.cell}}</a>
                    </div>
                  </div>
            </div>
        }
      </div>
      
      
  </div>
